* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #fff;
}

.muffin-logo {
  width: 50px;
  margin-bottom: 6px;
}

.container-navbar {
  width: 100%;
  height: 100px;
  background-color: #f3e3d7;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 1000px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-l {
  display: flex;
  align-items: center;
}

.navbar-r > ul {
display: flex;
  align-items: center;
}

h1 {
  margin-left: 10px;
  font-size: 20px;
  color: #ca6357;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #757575;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 400;
}

.active {
  font-weight: 600;
  color: #ca6357;
}

/* HOME */

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  color: #757575;
}

.welcome {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
}

span {
  font-weight: 600;
}

.subtitle {
  font-size: 18px;
}

.muffin {
  width: 300px;
  margin-top: 50px;
}

/* CONTACT */

.title {
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 600;
}

.container {
  width: 525px;
  background-color: #eee;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  padding: 1.5rem;
  border-radius: 8px;
}

.form-left,
.form-right {
  display: inline-block;
}

.form-left {
  margin-right: 30px;
}

.form-left > label,
.form-right > label,
.form-center > label {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.form-left > input,
.form-right > input,
.form-center > textarea {
  width: 220px;
  height: 30px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 4px;
  padding-left: 10px;
  margin-bottom: 14px;
  box-shadow: rgb(0 0 0 / 0.15) 0 1px 1px;
}

.form-left > input:focus,
.form-right > input:focus,
.form-center > textarea:focus {
  outline: none;
  box-shadow: #ca6357 0 1.5px;
}

.form-center > textarea {
  width: calc(100% - 6px);
  height: 100px;
  padding-top: 10px;
}

h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gender-inputs > label {
  margin-right: 4rem;
  margin-left: 6px;
  font-size: 0.9rem;
  cursor: pointer;
}

.button {
  width: 100%;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 6px;
  background-color: #ca6357;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.95rem;
  font-weight: 400;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.form-center > label{
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}